<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Adam Budik Full Stack Web Developer Portfolio">
  <meta name="keywords" content="Web Developer, Web Designer, Adam Budik, adambudik, portfolio">
  <meta name="author" content="Adam Budik">
  <title>Adam Budik</title>
  <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="style.css">
  <link href='http://fonts.googleapis.com/css?family=Cuprum' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

  <link rel="shortcut icon" href="assets/favicon.ico">

  <script src="javascript.js"></script>
  <script src="vendor/angular.js"></script>
  <script src="portfolio_app/main.js"></script>
  <script data-require="angular-animate@*" data-semver="1.2.13" src="http://code.angularjs.org/1.2.13/angular-animate.js"></script>
</head>

<body ng-app="PortfolioApp" ng-controller="PortfolioCtrl">
  <div class="navbar">
    <a href="#profile" data-offset="100"><div class="link"><span class="linktext">Profile</span></div></a>
    <a href="#education" data-offset="100"><div class="link"><span class="linktext">Education</span></div></a>
    <a href="#skills"><div class="linkskills link"><span class="linktext">Skills</span></div></a>
    <a href="#top"><div class="link logo"><span class="ab">AB</span></div></a>
    <a href="#apps"><div class="linkeducation link"><span class="linktext">Projects</span></div></a>
    <a href="#specialties"><div class="link"><span class="linktext">Specialties</span></div></a>
    <a href="#contact"><div class="link"><span class="linktext">Contact</span></div></a>
  </div>
  <div class="container me" id="top">
    <div class="header" id="contact" name="contact">
      <h1 class="title">Adam Budik</h1>
      <div class="break"></div>
      <h3 class="whatami">Web Developer, Web Designer</h3>
    </div>
    <span class="phonenum">
      <span>(775) 253-4158</span>
    </span>
    <span class="email">
      <span>asbudik@gmail.com</span>
    </span>
    <div class="icons" id="profile">
      <div class="contacticon githubicon">
        <a href="http://github.com/asbudik"><img src="./assets/githubicon2.png" height="40px" width="40px"></a>
      </div>
      <div class="contacticon">
        <a href="https://profiles.generalassemb.ly/profiles/adam-budik"><img src="./assets/gaicon.png" height="38px" width="38px"></a>
      </div>
      <div class="contacticon">
        <a href="https://www.facebook.com/adam.budik.7"><img src="./assets/fbicon.gif" height="45" width="45"></a>
      </div>
      <div class="contacticon">
        <a href="https://www.linkedin.com/pub/adam-budik/9b/6a0/298"><img src="./assets/linkedinicon.png" height="43" width="43"></a>
      </div>
    </div>
    <h1 class="profile" name="profile">Profile</h1>
    <div class="otherbreaks"></div>
    <p class="profiletext">Adam Budik is a Las Vegas native, who jumped on the opportunity to make it big in the San Francisco Bay Area. Looking to apply both strong social relations and full stack web development training, he now pursues opportunities as a full stack web developer.</p>
    <div class="row">
      <div class="col-md-offset-1 col-md-3 profpic">
        <div class="profilepic"><img class="profilepicture" src="./assets/profpic.jpg" height="200" width="200"></div>
      </div>
      <div class="col-md-offset-2 col-md-5">
        <div class="wordsaboutme">
          <p>"I am a truly passionate and creative individual. Web development has become my medium to bring quality products to realization. You could almost say I've become obsessed with web development, as I spend every chance I get eagerly discovering new technologies and look forward to applying my new findings to new projects. I am certainly self starter and consistently integrate my acute attention to detail and well designed code for each and every creation."<span id="skills"></span></p>
        </div>
      </div>
    </div>
    <h1 class="profile">Technical Skill Set</h1>
    <div class="otherbreaks"></div>
    <div class="skillset">
      <h3 class="subskills">Web Development Skills</h2>
      <ul type="square">
        <li>HTML5, CSS3</li>
        <li>JavaScript, JQuery, CoffeeScript</li>
        <li>Ruby on Rails</li>
        <li>AngularJS</li>
        <li>NodeJS & Express w/ Sequelize 
        <li>Passport & Bcrypt, OAuth</li>
        <li>Redis & Sidekiq</li>
        <li>Web app development w/ AJAX</li>
        <li>NPM, Bower, Grunt, Git</li>
        <li>PostgreSQL, SQLite</li>
        <li>AWS-SDK, Twilio, CraftyJS, Nokogiri, BootStrap, Foundation</li>
      </ul>
      <h3 class="subskills2">Alternative Skills</h2>
      <ul type="square">
        <li>Photoshop</li>
        <li>Data Entry</li>
        <li>Microsoft Office Suite<span id="education"</li>
      </ul>
    </div>
    <h1 class="education">Education</h1>
    <div class="otherbreaks"></div>
    <div class="educationals">
      <h3 class="subskills">General Assembly of San Francisco</h3>
      <p class="educationdesc">Full Stack Web Development Immersive <span class="educationyear">2014</span></p>
      <ul type="square">
        <li>Solidify fundamentals in Javascript and Ruby while taking proper conditioning to fluidly create clean and organized code.</li>
        <li>Ensure written code is in line with tech industry standards. Impose the importance of test coverage and modular code for high quality products.</li>
        <li>Consistently reinforce technological understanding of development software and research the newest technologies and upcoming changes.</li>
      </ul>
      <h3 class="subskills2">Great Basin College of Nevada</h3>
      <p class="educationdesc">Working towards AAS in Business Administration, Accounting <span class="educationyear">2009</span></p>
    </div>
  </div>
  <div id="apps" id="backtoapps"></div>

  <div class="allapps">
    <div class="row appshow">
      <div class="col-md-offset-1 col-md-3">
        <div class="appheader">
          <a href="{{apps[index].heroku}}" target="_blank">
          <div class="apptitle">
            <h3>{{apps[index].title}}</h3>
              <span>Demo {{apps[index].title}} Here</span>
          </div>
          </a>
          <h4>Summary</h4>
          <div class="otherbreaks"></div>
          <p>{{apps[index].summary}}</p>
          <h4>Breakdown</h4>
          <div class="otherbreaks"></div>
          <p>"{{apps[index].breakdown}}"</p>
          <h4>Tools</h4>
          <div class="otherbreaks"></div>
          <p class="tools">{{apps[index].tools}}</p>
        </div>
      </div>
      <div class="col-md-7 demowall">
        <img class="demopic" src="./assets/{{apps[index].imagecss}}">
        <div class="demoholder">
          <div class="demothumbnails" ng-click="" ng-repeat="app in apps">
            <div class="thumbfade{{$index}}">
            <a href="#apps" ng-click="newDemo($index)">
              <img class="demopicnails" src="./assets/{{app.imagecss}}" height="80" width="130">
              <h6 class="thumbtitle">{{app.title}}</h6>
            </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="specialties"></div>
  <div class="row container offers">
    <h2 class="special">Specialties</h2>
    <div class="otherbreaks"></div>
    <div class="col-md-4 specialties specialmob">
      <div class="specialheader">
        <img src="./assets/webdesign.png" height="100" width="100">
        <h4>Web Design</h4>
      </div>
      <p>I absolutely adore the chance to design new products. There's a certain charm about crafting new and exciting projects from the ground up. I take particular care to ensure each and every design is structured with the highest care.</p>
    </div>
    <div class="col-md-4 specialties specialmob">
      <div class="specialheader">
        <img src="./assets/icon_frontend.png" height="100" width="100">
        <h4>Front End Web Development</h4>
      </div>
      <p>I bring with me a strong front end arsenal with proficiency in AngularJS, Javascript, and JQuery. I aim for responsive, eye-catching applications and quality web code for a superb user experience.</p>
    </div>
    <div class="col-md-4 specialmob">
      <div class="specialheader">
        <img src="./assets/backend.png" height="100" width="100">
        <h4>Back End Web Development</h4>
      </div>
      <p>Knowledgeable with Ruby on Rails and NodeJS & Express, I strive to structure supreme back end code with attention to performance times and strong authentication & authorization with Passport & Bcrypt. Other familiarities being SQL, Redis & Sidekiq, Sequelize, and ActiveRecord.</p>
    </div>

  </div>

  <div class="footer"></div>
</body>
</html>
